<div class="container-fluid">
    <div class="heading">
        <h1 style="font-weight: lighter">
            Verify your e-mail to finish <br />
            signing up for Modern closet
        </h1>
    </div>
    <div class="gretting">
        <p>Thankyou for choosing Modern closet.</p>
    </div>
    <div class="content" style="margin-top: 10px">
        <p>
            Please Confirm that this is your email address by clicking on the
            button below.
        </p>
    </div>
    <div class="button">
        <button
            type="submit"
            class="btn btn-success btn-lg"
            (click)="clickFunction()"
        >
            Verify
        </button>
    </div>
    <br />
</div>
<br /><br />
