<div class="row">
    <div class="col-md-3">
        <ul>
            <a
                class="content-heading"
                href="javascript:void('0')"
                (click)="onClick('Topwear')"
                >Topwear</a
            >
            <div class="sub-heading" *ngFor="let top of topWear">
                <a
                    href="javascript:void('0')"
                    class="sub-head"
                    (click)="onClick(top)"
                    >{{ top }}</a
                >
            </div>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <a
                class="content-heading"
                href="javascript:void('0')"
                (click)="onClick('Bottomwear')"
                >Bottomwear</a
            >
            <div class="sub-heading" *ngFor="let bottom of bottomWear">
                <a
                    href="javascript:void('0')"
                    (click)="onClick(bottom)"
                    class="sub-head"
                    >{{ bottom }}</a
                >
            </div>
        </ul>
    </div>
    <div class="menu-spacer"></div>
    <div class="col-md-3">
        <ul>
            <a
                class="content-heading"
                href="javascript:void('0')"
                (click)="onClick('footwear')"
                >Footwear</a
            >
            <div class="sub-heading" *ngFor="let foot of footWear">
                <a
                    href="javascript:void('0')"
                    (click)="onClick(foot)"
                    class="sub-head"
                    >{{ foot }}</a
                >
            </div>
        </ul>
    </div>
</div>
