<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card space-categ cursor-pointer">
            <img
                class="img-responsive"
                src="https://api.deebaco.com//uploads/categories/w3.jpg"
                alt="https://api.deebaco.com//uploads/categories/w3.jpg"
            />
            <div class="card-body text-center">
                <p class="item_categ">Dresses</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card space-categ cursor-pointer">
            <img
                class="img-responsive"
                src="https://api.deebaco.com//uploads/categories/w2.jpg"
                alt="https://api.deebaco.com//uploads/categories/w2.jpg"
            />
            <div class="card-body text-center">
                <p class="item_categ">Kurtis &amp; Tunics</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card space-categ cursor-pointer">
            <img
                class="img-responsive"
                src="https://api.deebaco.com//uploads/categories/w1.jpg"
                alt="https://api.deebaco.com//uploads/categories/w1.jpg"
            />
            <div class="card-body text-center">
                <p class="item_categ">Shirts &amp; Tops</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card space-categ cursor-pointer">
            <img
                class="img-responsive"
                src="https://api.deebaco.com//uploads/categories/w4.jpg"
                alt="https://api.deebaco.com//uploads/categories/w4.jpg"
            />
            <div class="card-body text-center">
                <p class="item_categ">Bottoms</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <a href="#">
        <div class="banner">
            <img
                src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/9/7/580104e5-baeb-4eac-b92b-90d4f225133c1599498581141-dk.jpg"
                alt=""
            />
        </div>
    </a>
</div>
<p class="head-tag text-center">EXPLORE MORE</p>
<div style="text-align: center" style="margin-top: 10px">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
            ><a href="#"
                ><img src="assets/images/pexels-photo-594610.jpeg"
            /></a>
            <div class="detail text-center">
                <p class="details">Green bomber jacket</p>
                <h6 class="details">$ 1800</h6>
            </div>
        </ng-template>
        <ng-template carouselSlide
            ><a href="#"
                ><img
                    style="width: 100%"
                    src="assets/images/pexels-photo-1183266.jpeg"
            /></a>
            <div class="detail text-center">
                <p class="details">Yellow pullover</p>
                <h6 class="details">$ 600</h6>
            </div></ng-template
        >
        <ng-template carouselSlide
            ><a href="#"
                ><img src="assets/images/pexels-photo-1193941.jpeg"
            /></a>
            <div class="detail text-center">
                <p class="details">Blue ethinc wear suit</p>
                <h6 class="details">$ 560</h6>
            </div></ng-template
        >
        <ng-template carouselSlide
            ><a href="#"
                ><img src="assets/images/pexels-photo-1384219.jpeg"
            /></a>
            <div class="detail text-center">
                <p class="details">Blue denim jacket</p>
                <h6 class="details">$ 450</h6>
            </div></ng-template
        >
        <ng-template carouselSlide
            ><a href="#"
                ><img
                    style="width: 100%"
                    src="assets/images/pexels-photo-1390600.jpeg"
            /></a>
            <div class="text-center detail">
                <p class="details">Red formal jacket</p>
                <h6 class="details">$ 300</h6>
            </div></ng-template
        >
    </owl-carousel-o>
</div>
<div class="row padding-t">
    <div class="col-md-6 cursor-pointer">
        <a href="#">
            <img
                class="hover-image"
                src="https://www.leemboodi.com/media/wysiwyg/Leemboodi_Banner_1510x460_02-min.jpg"
                title="Ethnic-wear"
                alt=""
            />
        </a>
    </div>
    <div class="col-md-6 cursor-pointer response">
        <a href="#">
            <img
                class="hover-image"
                src="assets/images/rsz_photo-1483985988355-763728e1935b.jpg"
                title="casual-wear"
                alt=""
            />
        </a>
    </div>
</div>
