<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <div class="view w-100">
            <img
                class="d-block w-100"
                src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/26/b76176b6-0485-4078-b20c-eefc00833fd71603731402047-cat-fest-dk-men-winter.jpg"
                alt="First slide"
            />
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img
                class="d-block w-100"
                src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/26/7527228e-4f93-4b4e-812a-2f30fedc2f901603731402121-desktop-banner.jpg"
                alt="Second slide"
            />
            <div
                class="mask rgba-black-strong waves-light"
                mdbWavesEffect
            ></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img
                class="d-block w-100"
                src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/5/acf6affb-6aed-40f0-8e4d-6cea1e0dccaf1604564178382-Kurtas_Desk--1-.jpg"
                alt="Third slide"
            />
            <div
                class="mask rgba-black-slight waves-light"
                mdbWavesEffect
            ></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img
                class="d-block w-100"
                src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/9/7/936795f6-8d4a-4193-b806-fefb0a579dca1599498581330-Roadster_Desk_Banner--1-.jpg"
                alt="Third slide"
            />
            <div
                class="mask rgba-black-slight waves-light"
                mdbWavesEffect
            ></div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>
